<div class="container-fluid">
   <div class="row">
        <div class="intro col-12 mx-auto text-center animated fadeInUpBig slow mt-5">
            <form action="/scrape" method="GET">
            <h1 class="mt-5">To view articles from Buzzfeed News, click the button below.</h1>

            <button type="submit" class="btn-lg btn btn-info p-5 m-5 scrapeBtn"><h2>Scrape!</h2></button>
            </form>
        </div>
    </div>

</div>

<script>
$(".scrapeBtn").hover(()=>{
    $(".scrapeBtn").addClass("animated pulse").one('animationend',()=>{
        $(this).removeClass("animated pulse")
    })
})

$("scrapeBtn").on(click, ()=>{
    $(".intro").removeClass('animated fadeInUpBig slow')
    $(".intro").addClass('animated fadeOutBig slow')
})

</script>