<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                <!-- Navbar content -->
                <a class="navbar-brand" href="#">Navbar w/ text</a>                
                    <span class="navbar-text">
                        Navbar text with an inline element
                    </span>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-2 mx-auto">
            <form action="/scrape" method="GET">
            <button type="submit" class="btn-lg btn btn-info p-5 m-5">Scrape!</button>
            </form>
        </div>
    </div>

</div>